parameters:
	ignoreErrors:
		-
			message: '#^Offset 1 on array\{list\<string\>, list\<non\-falsy\-string\>\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 2
			path: app/Http/Controllers/EditorPreviewController.php

		-
			message: '#^Offset 1 on array\{list\<string\>, list\<numeric\-string\>\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Livewire/Editor/RegionPanel.php

		-
			message: '#^Using nullsafe property access "\?\-\>selector" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Livewire/Editor/RegionPanel.php

		-
			message: '#^Using nullsafe property access "\?\-\>region_type" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Livewire/Editor/VisualEditor.php

		-
			message: '#^Offset ''description'' on array\{description\: string, quantity\: string, rate\: string\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Livewire/Sites/InvoiceManager.php

		-
			message: '#^Offset ''rate'' on array\{description\: string, quantity\: string, rate\: string\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 2
			path: app/Livewire/Sites/InvoiceManager.php

		-
			message: '#^Using nullsafe property access "\?\-\>consent_mode" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Livewire/Sites/SiteSettings.php

		-
			message: '#^Using nullsafe property access "\?\-\>container_id" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Livewire/Sites/SiteSettings.php

		-
			message: '#^Using nullsafe property access "\?\-\>deploy_path" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Livewire/Sites/SiteSettings.php

		-
			message: '#^Using nullsafe property access "\?\-\>health_check_url" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Livewire/Sites/SiteSettings.php

		-
			message: '#^Using nullsafe property access "\?\-\>host" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Livewire/Sites/SiteSettings.php

		-
			message: '#^Using nullsafe property access "\?\-\>is_active" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Livewire/Sites/SiteSettings.php

		-
			message: '#^Using nullsafe property access "\?\-\>measurement_id" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Livewire/Sites/SiteSettings.php

		-
			message: '#^Using nullsafe property access "\?\-\>release_strategy" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Livewire/Sites/SiteSettings.php

		-
			message: '#^Method App\\Models\\Notification\:\:createAlert\(\) should return static\(App\\Models\\Notification\) but returns App\\Models\\Notification\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Notification.php

		-
			message: '#^Iterating over an object of an unknown class Google\\Protobuf\\Internal\\RepeatedField\.$#'
			identifier: class.notFound
			count: 1
			path: app/Services/AnalyticsAggregator.php

		-
			message: '#^Parameter \#1 \$value of function count expects array\|Countable, Google\\Protobuf\\Internal\\RepeatedField given\.$#'
			identifier: argument.type
			count: 1
			path: app/Services/AnalyticsAggregator.php

		-
			message: '#^Offset 1 on array\{string, int\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Services/ContentPatcher.php

		-
			message: '#^Using nullsafe property access "\?\-\>region_type" on left side of \?\? is unnecessary\. Use \-\> instead\.$#'
			identifier: nullsafe.neverNull
			count: 1
			path: app/Services/ParserService.php

		-
			message: '#^Offset 1 on array\{list\<string\>, list\<non\-empty\-string\>\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 4
			path: app/Services/Parsers/SpaComponentParser.php

		-
			message: '#^Ternary operator condition is always true\.$#'
			identifier: ternary.alwaysTrue
			count: 1
			path: app/Services/Parsers/SpaComponentParser.php

		-
			message: '#^Instanceof between DOMElement and DOMElement will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: app/Services/Parsers/StaticHtmlParser.php

		-
			message: '#^Ternary operator condition is always true\.$#'
			identifier: ternary.alwaysTrue
			count: 1
			path: app/Services/Parsers/StaticHtmlParser.php
